.my-account {

    nav {
        position: relative;
        .compte-btn {
            display: flex;
            align-items: center;
            box-shadow: 0px 0px 2px;
            padding: 0.73rem 0.6rem;
            border-radius: 12px;
            cursor: pointer;
            gap: 0.4rem;

            .user-icon {
                height: 1.3rem;
                height: 1.3rem;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .angelDown-icon {
                height: 1.3rem;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            p {
                font-family: "Poppins", sans-serif;
                font-weight: 300;
                width: 75px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 15px;
            }
        }

        .se-deconnecte-btn {
            position: absolute;
            background: white;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 13%;
            top: 79.5px;
            left: 84.5%;
            box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.32);
            display: none;

            .FaSortUp-icon {
                position: absolute;
                top: -10px;
                right: 15px;
            }

            button {
                width: 100%;
                padding: 1rem 0;
                font-family: "Poppins", sans-serif;
                font-weight: 400;
                font-size: 0.9rem;
                border: none;
                background: none;
                transition: .4s;
            }

            button:hover {
                background: #D8D8D8;
            }

            &.displayCompteBtn {
                display: block;
            }
        }
    }

    section {
        height: calc(100vh - 79px);
        display: flex;
        align-items: center;
        justify-content: center;
        padding-inline: 8vw;

        .container {
            height: 65vh;
            border: 1px solid #CCCCCC;
            width: 100%;

            .bloc-taps {
                display: flex;
                justify-content: space-between;

                .tab {
                    flex: 1;
                    font-family: "Poppins", sans-serif;
                    font-weight: 600;
                    font-size: 0.8rem;
                    background: #F3F3F3;
                    padding: 1.5rem;
                    cursor: pointer;
                    position: relative;
                    text-align: center;
                    border: 1px solid #CCCCCC;

                    &.active {
                        background: #FFFFFF;
                        border: none;
                    }
                }
            }

            .contents {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;

                .content {
                    width: 100%;
                    display: none;

                    .profil {
                        height: 54.5vh;
                        display: flex;
                        align-items: flex-start;
                        flex-direction: column;
                        justify-content: center;
                        padding-inline: 6vw;

                        span {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            margin: 1rem 0;

                            h4 {
                                font-family: "Poppins", sans-serif;
                                font-weight: 400;
                                font-size: 1rem;
                                margin-left: 0.75rem;
                            }
                        }

                        button {
                            padding: 0.5rem 1rem;
                            font-family: "Poppins", sans-serif;
                            font-weight: 400;
                            font-size: 1rem;
                            border: none;
                            background: #CE1126;
                            color: #FFFFFF;
                            cursor: pointer;
                            border-radius: 5px;
                        }
                    }

                    .mes-favoris,
                    .cartes-sauvegardes {
                        height: 54.5vh;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    &.active {
                        display: block;

                    }
                }
            }
        }

    }
}