
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    user-select: none;
}

html{
    scroll-padding-top: 100px;
}

a{
    text-decoration: none;
}


::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: #777; 
    border-radius: 5px;
  }


@import "./home.scss";
@import "./nav.scss";
@import "./restaurantDetails.scss";
@import "./foodCommand.scss";
@import "./loadingPage.scss";
@import "./myAccount.scss";